<section class='All-supply-entry-information'>
    <h2>Here we will have a table of supply information</h2>
    <table>
        <tr>
            <th>Name of Customer</th>
            <th>Type of Block</th>
            <th>Number of Block</th>
            <th>Contact of Customer</th>
            <th>Payment made by Customer</th>
            <th>Balance of Payment</th>
        </tr>
        <tr>
            <td>Daniel Larbi Addo</td>
            <td>6 inches solid </td>
            <td>2000</td>
            <td>0502699947</td>
            <td>10,000</td>
            <td>7,000</td>
        </tr>
    </table>
</section>