/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require datagrid
 *= require_self
 */
 @import "materialize";
 @import "bootstrap";

 * {
  margin: 0;
  padding: 0;
 }
.container {
  width: 100vw;
  /* height: 100vh; */
}
/* Header */
.header {
  text-align: center;
  font-size: 3.5em;
}



.container-content {
  text-align: center;
}

.office,
.sale-of-blocks,
.tipper {
  font-size: 2em;
  margin-top: 1em;
}

.left-side {
  font-size: 1.5em;
}

.middle {
  text-align: center;
  font-size: 1.5em;
}

.right-side {
  font-size: 1.5em;
}

.list {
  margin-top: 1em;
}

.block-list li {
  list-style: none;
  font-size: large;
}
/* Registration styling */
.signup-container {
  width: 30%;
  height: auto;
  align-content: center;
  margin-left: 35%;
  margin-top: 5%;
}


.email-input,
.name-input,
.phone-number-input,
.password-input,
.password-confirmation-input {
  width: 100%;
  height: 2em;
}

.field,
.actions {
  height: 4em;
  width: 100%;
}

.signup-header {
  text-align: center;
}

.signup-btn {
  width: 100%;
  height: 3em;
  background-color: turquoise;
  color: white;
  border: none;
  border-radius: 1em;
}

.signup-btn:hover {
  cursor: pointer;
  color: black;
}

.login-link {
  text-decoration: none;
  font-size: 1.5em;
  border: 1px solid black;
  text-align: center;
  margin-bottom: 3em;
}

.Signout-btn {
  border: 1px solid black;
}

/* Footer */
.page-footer {
  height: 6em;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140, 140, 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228, 240, 245);
}

th,
td {
  border: 1px solid rgb(160, 160, 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}